* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: fuente1;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Estilos para el encabezado */
header {
    font-family: fuente1;
    background: linear-gradient(135deg, #2a7f62, #33d7b6);
    color: white;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Título principal */
header h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
/* Estilo para el contenido principal */
main {
    width: 100%;
    height: auto;
    padding: 40px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    background-color: #fcfcfc;
}

/* Contenedor de las imágenes */
.fotos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fotos2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h2 {
    font-size: xx-large;
}
button{
    background-color: grey;
    
    height: 6vh;
    width: 20vh;
    border-radius: 20px;
    box-shadow: 0 21px 12px;
    cursor: pointer;
    transition: transform 1s;
    
  }

button:hover{    
    background-color: #b5b5b5;
    transform: scale(1.05);
}

a{
    text-decoration: none;
    color: white;
}
span {
    font-size: large;
}
.contender{
    height: 40vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.precios {
    color: white;
}
.container {
    height: 60vh;
}
.inicio {
    padding: 55px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: medium;
    width: 100%;
    height: 15vh;
}

/* Enlaces dentro del pie de página */
footer a {
    color: #33d7b6;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
}




